body {
  background: linear-gradient(135deg, #000000, #171575);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

.contenedor-centrado {
  text-align: center; 
}


h1{
    color:rgb(245, 245, 245)
}

p{
    color:silver;
}

 footer{
    background: linear-gradient(180deg, #12051d, #000000);
}

footer h4,
footer h5{
    color: #b26cff;
}

footer a:hover{
    color: #b26cff !important;
}