body

{
  background: linear-gradient(135deg, #000000, #807fa0);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

.contenedor-centrado img {
  width: 500 px
}

.reproductor-terror{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.audio-terror{
    width: 450px;
    border-radius: 15px;
    box-shadow:
        0 0 10px #060218,
        0 0 25px #0f034d,
        0 0 50px #2637d4;
}

.audio-terror::-webkit-media-controls-panel{
    background: linear-gradient(to right, #12065a, #11084f);
}

.audio-terror:hover{
    transform: scale(1.03);
    transition: 0.3s;
}