body

{
  background: linear-gradient(135deg, #000000, #807fa0);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

.contenedor-centrado img {
  width: 1000px;
}

.reproductor-terror{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.audio-terror{
    width: 450px;
    border-radius: 15px;
    box-shadow:
        0 0 10px #060218,
        0 0 25px #0f034d,
        0 0 50px #74757c;
}

.audio-terror::-webkit-media-controls-panel{
    background: linear-gradient(to right, #12065a, #11084f);
}

.audio-terror:hover{
    transform: scale(1.03);
    transition: 0.3s;
}

.comentarios-mini{
    width: 500px !important;
    max-width: 500px !important;
    margin: 0 auto;
    text-align: center;
}

.comentarios-mini input,
.comentarios-mini textarea {
    width: 100%;
}

.comentarios-mini h6{
    color: white;
    margin-bottom: 15px;
}

.comentarios-mini .form-control{
    background: #738096;
    color: white;
    border: 1px solid rgb(232, 227, 227);
}

.comentarios-mini .form-control:focus{
    background: #9aadcf;
    color: white;
    box-shadow: none;
    border-color: #52555a;
}