
body {
  background: linear-gradient(135deg, #000000, #171575);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

.titulo {
  font-family:'Dancing Script', cursive;
  font-size: 100px;
  color: #c9b3ff;
  text-shadow: 0 0 15px
  rgba(255,255,255,0.5);
}

.img-card{
  width: 10%;
  height: auto;
  border-radius: 8%;
}

.card-container-img img{
  width: 10%;
  height: 10%;
  object-fit: cover;
  font-family: 'Great Vibes', cursive;
}


.subtitulo {
  font-weight: 600;
  font-size: 60px;
  color: #444;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}


.descripcion {
  max-width: 800px;
  margin: auto;
  color: #f6ecec;
  font-size: 35px;
  font-family: 'Forum', serif;
}


.custom-card {
  border-radius: 18px;
  border: none;
  background: #183872;
  padding: 15px;
  transition: 0.3s;
}

.custom-list {
  text-align: 20px;
  margin-left: 20px;
  color: #f1eaea;
  font-size: 15px;
}


.custom-btn {
  background: #737cc1;

}

.boton-leer-mas {
  margin-top: auto;
}

.footer {
  margin-top: 30px;
  font-size: 18px;
  color: #6a65ae;
}

.footer {
  font-size: 22px;
  margin-right: 10px;
  font-family: 'Great Vibes', sans-serif;
}

.dot {
  margin: 0px 10px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contenedor {
    text-align: center;
}

body {
  background-color: #0d1117; /* Fondo oscuro similar al de la imagen */
  color: white;
  font-family: Arial, sans-serif;
}

.contenedor-tarjetas {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.imagen {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.tarjeta {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
}

.descripcion {
  font-size: 0.9em;
  color: #8b949e;
}

.perfil-contenedor {
  width: 150px;  
  height: 150px;
  overflow: hidden;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}

.foto-circular {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la foto sin estirarla */
}
 footer{
    background: linear-gradient(180deg, #12051d, #000000);
}

footer h4,
footer h5{
    color: #b26cff;
}

footer a:hover{
    color: #b26cff !important;
}
